     body {
    background-image: url(Images/harry.jpeg);
font-family: fantasy;}
    .text {
        width: 80px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }